body {
  margin: auto;
  background-color: white;
  font-family: 'monserat', sans-serif; 
}

.content{
  width: 100%;
  text-align: left;
  position:relative ;
  left: 100%;
  align-items: flex-start;
}
.content h1{
  color: black;
  font-size: 34px;
}

.content p{
  color: #4F4F4F;
  font-size: 18px;
}

.content a{
  text-decoration: none;
  background-color: black;
  color: white;
  font-size:10px;
  padding: 12px 24px;


}

